@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unica One", sans-serif;
}
body {
  background: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(127deg, #3ba9e4, #000000);
  color: #fff;
  margin: 100px auto 0; /*100px from top, left and right auto,0px from bottom */
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  border: 0;
  outline: 0;
  background: rgb(130, 203, 247);
  color: white;
  height: 65px;
  flex: 1;
  padding: 10px 25px;
  margin-right: 15px;
  border-radius: 20px;
  font-size: larger;
}

.search button {
  border: 0;
  outline: 0;
  background: rgb(130, 203, 247);
  border-radius: 100%;
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.search button img {
  height: 50px;
  width: 50px;
}

.weather-icon {
  width: 100px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 10px;
}

.weather h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 5px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  height: 50px;
  padding-right: 10px;
}

.humidity,
.wind {
  font-size: 30px;
  margin-top: -5px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 5px;
  margin-top: 15px;
  font-size: 14px;
  color: red;
  display: none;
}
